<div class="container" style="display: flex;">
  <div class="col-sm-8">
      <div class="game-area">
          <mat-grid-list class="tick-tack-grid" cols="3">
            <mat-grid-tile *ngFor="let block of gs.blocks; let i = index; trackBy: trackByFn" (click)="playerClick(i)"><i [class]="block.symbol == 'done' ? 'material-icons tick' : 'material-icons cross'">{{ block.symbol }}</i>
            </mat-grid-tile>
          </mat-grid-list>
     </div>
      

  </div>

      <div class="colcol-sm-8">

        
      </div>

</div>